body {
    font-family: sans-serif;
    color: white;
}

.card {
    background-color: rgb(218, 139, 111);
    text-align: center;
    width: 300px;
    margin: auto;
    /*El margin auto centra horizontalmente los elementos (ancho)*/
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 25px #0007;

}

.blue_card {
    background-color: #00f;
}

.green_card {
    background-color: #0f0;
}

.card_title {
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

.card_description {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

.card_content {
    font-size: 9px;
    padding: 20px;
    background-color: lightcoral;
    text-align: justify;
}

.card_img {
    max-width: 100%;
    /*Ajusta la imagen, para que el contenedor div no crezca excesivamente*/
    height: auto;
    display: block;
    border-radius: 50%;
}