body {
    margin: 0;
    font-family: 'Georgia';
}

/*Fill es la propiedad por defecto*/
.fill__default {
    height: 400px;
    width: 100px;
    object-fit: fill;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
}
/*Contain hace que la imagen entre almenos una vez en su contenedor y una de las dimensiones este al 100%*/
.contain {
    height: 400px;
    width: 100px;
    object-fit: contain;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
}

.cover {
    height: 400px;
    width: 100px;
    object-fit: cover;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
}

/*Object position controla donde se posiciona el contenido dentro del contenedor*/