body {
    margin: 0;
    font-family: 'Comic Sans MS';
}

.contenedor {
    padding: 50px;
    background-color: #00f;
}
/*La caracteristica principal de la posición fija es que siempre sera visible al hacer scroll, es como si se pegara, sale del flujo noraml, no ocupa espacio en el layout y los demas elementos actuan como si no existiera*/
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
}